body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f5f5;
    height: 100vh;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 980px;
    height: 560px;
    background-image: url('world1.svg');
    background-size: cover;
    opacity: 0.25;
    z-index: 0;
}

#graph-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    z-index: 99;
    position: relative;
}

#container {
    display: flex;
    height: 100%;
}

svg {
    width: 980px;
    height: 560px;
    opacity: 1;
    border: 1px solid #ccc;
    z-index: 0;
}

#sidebar {
    width: 360px;
    padding: 16px;
    background: #fafafa;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.controls {
    display: flex;
    gap: 8px;
}

button {
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
}

#results {
    font-size: 14px;
    min-height: 40px;
    line-height: 1.6;
    padding-bottom: 10px;
}

.node {
    fill: #4f46e5;
    cursor: pointer;
}

.node.start {
    fill: #dc2626;
}

.node.selected:not(.start) {
    fill: #f97316;
}

.node-label {
    fill: white;
    font-size: 12px;
    text-anchor: middle;
    dominant-baseline: middle;
    pointer-events: none;
}

.edge {
    stroke: #333;
    stroke-width: 2;
    cursor: pointer;
}

.edge:hover {
    stroke: red;
}

#leaderboard {
    font-size: 14px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.leader-new {
    color: red;
    font-weight: bold;
}

.leader-old {
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 8px;
    font-size: 13px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.leader-new td {
    color: red;
    font-weight: bold;
}

.bottom-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 980px;
    margin-top: 8px;
    position: relative;
}

#info-links {
    display: flex;
    gap: 15px;
    z-index: 101;
    position: absolute;
    left: 10px;
}


#info-links a {
    color: #333;
    font-size: 24px;
    opacity: 0.5;
    transition: all 0.3s ease;
}

#info-links a:hover {
    opacity: 1;
    color: #4f46e5;
    transform: scale(1.1);
}